.table{
  display: flex;
  width: 1025px;
  height: 680px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  margin: 10px;
  width: 150px;
  height: 208px ;
}

img{
  width: 100%;
}
.card-matched {
  display: flex;
  opacity: 0;
  margin: 10px;
  width: 150px;
  height: 208px ;
}

.App {
}

.table__wrapper{
   display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: radial-gradient(rgb(0, 119, 71), rgb(10, 103, 30));
}
.points{
  position: absolute;
  color: white;
  top:0
}

.btn__new_game {
  text-transform: uppercase;
  background: #ffffff;
  padding: 20px;
  border-radius: 6px;
  display: inline-block;
}
